<!doctype html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
    <title>Tasks</title>

</head>

<body>
    <section class="vh-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">
      
              <div class="card mask-custom">
                <div class="card-body p-4 text-white">
      
                  <div class="text-center pt-3 pb-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                      alt="Check" width="60">
                    <h2 class="my-4">Task List</h2>
                    <a href="{% url 'accounts:logout' %}">logout</a>
                  </div>

                  <form class="d-flex justify-content-center align-items-center mb-4" method="POST" action="/">
                   {% csrf_token %}
                    <div class="form-outline flex-fill">
                      <input type="text" id="form2" class="form-control" name="title" placeholder="Enter Task">
                      <label for="cars">Choose priority:</label>

                        <select name="priority" id="" class="form-select">
                            <option value="H">High Priority</option>
                            <option value="M">Middle Priority</option>
                            <option value="L">Low Priority</option>
                        </select>
                      <button type="submit" class="btn btn-info ">Add</button>
                    </div>
                    
                  </form>
      
                  <table class="table text-white mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                      <tr class="fw-normal">
                        
                        <td class="align-middle">
                            {% if task.complete == True %}
                            <strike>{{task.title}}</strike>
                            {% else %}
                            <span>{{task}}</span>
                            {% endif %}
                        </td>
                        {% if task.priority == "H" %}
                        <td class="align-middle">
                          <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                        </td>
                        {% elif task.priority == "M" %}
                            <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                          </td>
                        {% elif task.priority == "L"%}
                        <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                          </td>
                        {% endif %}
                        <td class="align-middle">
                          <a href="{% url 'complete-task' task.id %}" data-mdb-toggle="tooltip" title="Done">
                            <i class="fas fa-check fa-lg text-success me-3">Done</i>
                          </a>
                          <a href="{% url 'delete-task' task.id %}" data-mdb-toggle="tooltip" title="Remove"><i
                              class="fas fa-trash-alt fa-lg text-warning">Delete</i></a>
                        </td>
                        
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
      
      
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
</body>

</html>